:root {
  --foreground: #ededed;
  --background: #21252b;
  --background-secondary: #32363b;
  --background-shadow: #1e2022;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: none;
}

p {
  font-size: 18px;
  font-weight: normal;
  color: var(--foreground);
  text-align: left;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
