.pageStyler {
  padding: 80px;
  gap: 64px;
  font-weight: bold;
  overflow-y: auto;
  height: 100svh;
}

.page {
  /* Cursor animation controller */
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #2b2b2b;
  --button-secondary-hover: #f2f2f2;

  height: 100svh;
  font-family: var(--font-geist-sans);
  position: relative;
  border: none;
  cursor: none;
  overflow: hidden;
}

.page::after {
  /* for cursor animation */
  pointer-events: none;
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px - 100px);
  left: calc(var(--x, 0) * 1px - 100px);
  width: 200px;
  height: 200px;
  background: radial-gradient(#ccc, transparent 50%);

  opacity: 0;
  transition: opacity 0.2s;
}

.page:hover::after {
  opacity: 0.05;
}

.section_container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.3em 0;
  font-size: 48px;
  font-weight: bold;
  color: var(--geist-foreground);
  text-align: left;
  width: 100%;
  line-height: 0.8;
}

.header_supp {
  font-size: 24px;
  font-weight: normal;
  color: var(--geist-foreground);
  text-align: left;
  width: 100%;
  white-space: nowrap;
}

.bordered {
  border: var(--foreground) solid 1px;
  font-weight: normal;
  padding: 1em;
}

.chipGallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
}

.linkChip,
.linkChipSmall {
  position: relative;
  display: grid;
  background-color: var(--background-secondary);
  box-shadow: 2px 2px 3px var(--background-shadow);
  height: 100%;
}

.linkChip:hover,
.linkChipSmall:hover {
  background-color: var(--button-primary-hover);
  cursor: none;
}

.linkChip {
  grid-template-areas:
    "image title"
    "image description";
  grid-template-columns: 50px 3fr;
  gap: 0 1em;
  padding: 1em;
}

.linkChipSmall {
  grid-template-areas:
    "title"
    "description";
  gap: 0 1em;
  padding: 0.75em;
}

.linkChipSmall > * {
  font-size: 0.85rem;
}

.linkHighlight {
  width: 2px;
  height: 100%;
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
}

.linkChipImg {
  grid-area: image;
}

/* phone */
@media screen and (max-width: 600px) {
  .pageStyler {
    padding: 48px 24px;
  }

  .header span {
    width: 100%;
    text-align: center;
    display: block;
  }
}

/* Insufficient space for showing two language cards horizontally */
@media screen and (max-width: 700px) {
  .chipGallery {
    flex-direction: column;
  }

  .linkChip,
  .linkChipSmall {
    width: 100%;
  }

  .linkChip {
    grid-template-areas:
      "image title"
      "description description";
    grid-template-columns: 30px 3fr;
    gap: 0 1em;
    padding: 1em;
  }

  .linkChip h3 {
    font-size: 1.3em;
  }

  .linkChipImg {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-bottom: 0.5em;
  }
}

.linkChipNoThumbnail {
  grid-template-areas:
    "title"
    "description";
  grid-template-columns: 100%;
}

.coloured pre {
  color: #afb4bb;
}

.coloured h3 {
  color: #93abcf;
}
